# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Environment / secrets
.env

# Runtime-generated citizen feedback (written by the app at runtime)
feedback.csv

# OS
.DS_Store
Thumbs.db